POSTGRES_USER=crimescope
POSTGRES_PASSWORD=crimescope
POSTGRES_DB=crimescope
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_URL=redis://localhost:6379/0
BACKEND_CORS_ORIGINS=http://localhost:3000
DATABRICKS_HOST=https://dbc-42cdc781-8591.cloud.databricks.com
DATABRICKS_TOKEN=
DATABRICKS_PROFILE=team_varanasi
DATABRICKS_WORKSPACE_FOLDER=/Workspace/Shared/Team_varanasi/crimescope
DATABRICKS_NOTEBOOKS_FOLDER=/Workspace/Shared/Team_varanasi/ML
